#add-input {
    font-family : "Noto Serif Simplified Chinese", serif;
    /* font-size: clamp(32px, 3vw + 1rem, 62px); */
    font-size: clamp(40px, 3vw + 1rem, 62px);
    border: none;
    width: 100%;
    text-align: right;
    resize: none;
    height: 9dvh;
    outline: none;
    line-height: 1.3;
    z-index: 0;
    background: transparent;
    overflow-x: auto;
    white-space: nowrap;
}

@media (min-width: 992px) {
    #add-input {
        line-height: 1.1 !important;
    }
}

textarea:focus::placeholder {
  color: transparent;
}

/* Bouton */

#btn-add {
    border:none;
    background: none;
    outline: none;
    font-family : "Noto Serif Simplified Chinese", serif;
    /* font-size: clamp(50px, 3vw + 1rem, 62px); */
    line-height: 1;
    text-align:right;
    font-size: clamp(40px, 3vw + 1rem, 62px);
}

#btn-add:hover {
    color: rgb(0, 85, 255);
}