@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Noto+Serif+SC:wght@200..900&family=Oranienbaum&family=Tai+Heritage+Pro:wght@400;700&display=swap');

.add {
    position: fixed;
    top: 0;
    right: 0.1%;
}